/* Global */

* {
    font-family: 'Raleway';
    font-style: normal;
}

body {
    margin: 0 auto;
    max-width: 1400px;
}

a {
    text-decoration: none;
    color: #000000;
}

strong {
    font-size: 1.125em;
    font-weight: 700;
}

li {
    list-style: none;
}

/* Header */

header {
    max-width: 93.06%;
    height: 107px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 61.09px;
    padding-left: 5px;
}

nav {
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav ul li {
    display:flex;
    height: 100%;
    align-items:center;
}

nav ul li a {
    display: flex;
    height: 100%;
    padding: 0 24.5px 0 24.5px;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
}

nav ul li a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* Main */

main {
    max-width: 93.06%;
    margin: auto;
}

p {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 1.375em;
    font-weight: 700;
    padding-left: 5px;
    margin: 19px 0 8px 0;
}

h2 {
    font-size: 1.375em;
    font-weight: 700;
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

    /* Barre de recherche */

.search p {
    margin-left: 5px;
}

.search-box {
    height: 50px;
    margin: 20px 0 32px 0;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.localisation {
    height: 100%;
    padding: 0 15px 0 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.fa-location-dot {
    width: 14px;
    height: 18px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type="text"] {
    font-size: 1.125em;
    font-weight: 700;
    color:#000000;
    height: 100%;
    width: 236px;
    border: 1px solid #F2F2F2;
    padding: 0 0 0 15px;
}

input[type="submit"] {
    height: 52px;
    width: 132px;
    font-size: 1.125em;
    font-weight: 700;
    background-color: #0065FC;
    color: #FFFFFF;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 0;
}
.search-box .fa-magnifying-glass {
    display: none;
}

    /* Filtres */

.filtres {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 14px;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
}

.filtres p:first-child {
    font-size: 1.125em;
    font-weight: 700;
    margin-right: 10px;
}

.btn-filtres {
    height: 90%;
    display: flex;
    flex-direction: row;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 0 20px;
    align-items: center;
    margin: 0 10px;
}

.btn-filtres p {
    font-size: 1.063em;
    font-weight: 700;
}

.filtres .btn-filtres:hover {
    background-color: #DEEBFF;
}

span {
    cursor:default;
}

.filtres i {
    margin-right: 10px;
}

.filtres i {
    color: #0065FC;
}

/* Information et hébergements */

.resultats {
    width: 100%;
    margin-top: 35px;
}
    
.information {
    display: flex;
    flex-direction: row;
    height: 24px;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 37px;
}

.information .fa-info {
    font-size: 0.75em;
    color: #0065FC;
    height: 100%;
    width: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    margin-left: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information p {
    display: flex;
    align-items: center;
    padding-left: 11px;
    margin: 0;
}


.hebergements {
    width: 100%;
    height: 626px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements h2 {
    margin-top: 0;
    margin-bottom: 23px;
}

.hebergements p {
    font-size: 0.875em;
    font-weight: 600;
}

.stars {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.stars:not(.grey){
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.fa-star {
    font-size: 0.688em;
}

        /* Hébergements principaux */

.principaux {
    width: 65.67%;
    height: 570px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.principaux2 {
    width: 90.91%;
    height: 86.26%;
    margin: auto;
}

.cards-hebergements-principaux {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 23px;
    margin-bottom: 30px;
}

.card-hebergement-principal {
    width: 100%;
    height : 180px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px 0 #D9D9D9;
}

.card-hebergement-principal .photo {
    height: 70%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.card-hebergement-principal img {
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
}

.card-hebergement-principal .info {
    height: 30%;
    padding: 5px 13px 10px 13px;
}

.card-hebergement-principal .info-texte {
    height: 70%;
    overflow: hidden;
}

.card-hebergement-principal .info-stars {
    height: 30%;
    display: flex;
    align-items: center;
}

.card-hebergement-principal p {
    font-weight: 400;
}

.card-hebergement-principal h3 {
    padding: 0;
    margin: 0 0 2px 0;
}

.card-hebergement-principal ul {
    margin: 0;
}

        /* Hébergements populaires */

.populaires {
    display: flex;
    flex-direction: column;
    width: 31.34%;
    height: 570px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.populaires2 {
    display: flex;
    flex-direction: column;
    width: 81.67%;
    height: 88%;
    margin: auto ;
}

.populaires3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 26px;
    width: 100%;
    margin-bottom: 26px;
}

.populaires3 i {
    color: #0065FC;
    display: flex;
    align-items: center;
}

.cards-hebergements-populaires {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.card-hebergement-populaire {
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 12px;
    box-shadow: 0 4px 10px 0 #D9D9D9;
}

.card-hebergement-populaire .photo {
    border-radius: 20px 0 0 20px;
    border: 5px solid #FFFFFF;
    width: 39.94%;
    overflow: hidden;
}

.card-hebergement-populaire img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;
}

.card-hebergement-populaire p {
    padding: 0;
    font-weight: 400;
    margin-bottom: 30px;
}

.card-hebergement-populaire .info {
    width: 60.06%;
    padding: 15px 15px 8px 15px;
}

.card-hebergement-populaire .info-texte {
    height: 80%;
}

.card-hebergement-populaire .info-stars {
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.card-hebergement-populaire h3 {
    margin : 0 0 4px 0;
}

.card-hebergement-populaire ul {
    margin: 0;
}

/* Activités */

.activites {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 60.5px;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 #F2F2F2;
    height: 400px;
}

article .photo {
    height: 87.41%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

article .info {
    height: 12.59%;
    display: flex;
    align-items: center;
}

article h3 {
    margin: 20px 26px 21px 19px;
}

article h2 {
    margin-bottom: 18px;
}

        /* Footer */

footer {
    max-width: 93.06%;
    background-color: #F2F2F2;
    margin: auto;
}

.blocs-footer {
    width: 87.5%;
    padding: 45px 45px 58px 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.blocs-footer p {
    margin: 10px 0;
    padding: 0;
}

.bloc-footer {
    width: 100%;
}

.titre-footer {
    padding-bottom: 10px;
}

/* Media queries */

/* Tablettes */

@media screen and (max-width: 991px) {
    header {
        max-width: 85%;
    }
    main {
        max-width: 85%;
    }
    .filtres {
        width: 98%;
        justify-content: space-between;
    }
    .btn-filtres {
        margin: 0;
        padding: 0 15px;
    }
    .btn-filtres p {
        font-size: 1em;
    }
    .resultats {
        margin-bottom: 60px;
    }
    .hebergements {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .principaux {
        margin-bottom: 50px;
        padding: 40px 0;
    }
    .principaux .info-texte {
        overflow: hidden;
    }
    .populaires {
        padding: 40px 0;
    }
    .populaires h3 {
        font-size: 0.875em;
    }
    .populaires p {
        font-size: 0.813em;
    }
    .populaires2 {
        width: 90.91%;
    }
    .cards-hebergements-populaires {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .card-hebergement-populaire {
        height: 155px;
    }
    .activites {
        margin-top: 40px;
    }
    .activites .photo {
        height: 75%;
    }
    .activites .info {
        height: 25%;
    }
    .activites h3 {
        font-size: 90%;
    }
    article {
        height: 250px;
    }
    article .photo {
        height: 80%;
    }
    article .info {
        height: 20%;
    }
    article h3 {
        margin: 0;
        padding: 7px 20px;
    }
    footer {
        max-width: 85%;
    }
    .blocs-footer {
        padding-left: 60px;
        padding-right: 0;
    }
}

/* Mobiles */

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        padding-top: 25px;
        max-width: 100%;
    }
    nav {
        width: 100%;
        justify-content: center;
    }
    nav ul {
        width: 100%;
        margin-top: 15px;
    }
    nav ul li {
        width: 100%;
        justify-content: center;
        padding: 25px 0;
    }
    nav ul li a {
        width: 100%;
        justify-content: center;
        border-bottom: 3px solid #F2F2F2;
    }
    nav ul li a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }
    main {
        max-width: 100%;
    }
    .search {
        margin-top: 50px;
        padding: 0 20px 0 20px;
    }
    .search h1, .search p {
        padding-left: 0;
        margin-left: 0;
    }
    .search-box {
        margin-top: 30px;
        margin-left: 0;
    }
    .btn-search {
        height: 100%;
        background-color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0 15px 15px 0;
        padding: 0 15px;
        display: flex;
        align-items: center;
    }
    form {
        width: 100%;
    }
    input[type="text"] {
        width: 100%;
    }
    input[value="Rechercher"] {
        display: none;
    }
    .search-box .fa-magnifying-glass {
        display: block;
        color: #FFFFFF;
    }
    .filtres {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    .description-filtres {
        width: 100%;
    }
    .filtres p {
        font-weight: bold;
        font-size: 0.688em;
    }
    .btn-filtres {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-items: center;
        width: 40%;
        margin: 20px 0 0 0;
        padding: 15px;
        border: 2px solid #D9D9D9;
    }
    .btn-filtres i {
        margin: 0;
    }
    .resultats {
        margin-top: 20px;
    }
    .information {
        margin-bottom: 0;
        padding-top: 30px;
    }
    .hebergements {
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .populaires {
        border-radius: 0;
        padding-bottom: 50px;
        align-items: center;
    }
    .populaires2 {
        margin: 0;
        padding-left: 18px;
        padding-right:  18px;
    }
    .principaux {
        background-color: #FFFFFF;
        padding-top: 30px;
        margin: 0;
        align-items: center;
    }
    .principaux2 {
        margin: 0;
        padding-left: 18px;
        padding-right:  18px;
    }
    .cards-hebergements-populaires {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .card-hebergement-populaire {
        margin-bottom: 0;
    }
    .cards-hebergements-principaux {
        display:flex;
        flex-direction: column;
        gap: 15px;
    }
    #activites h2 {
        padding-left: 25px;
        max-width: 150px;
    }
    .activites {
        display: flex;
        flex-direction: column;
        padding: 0 18px 0 18px;
        max-width: 91%;
        gap: 15px;
        margin: auto;
    }
    article {
        height: 200px;
    }
    footer {
        margin: 70px 0 0 0;
        max-width: 100%;
    }
    .blocs-footer {
        flex-direction: column;
        padding: 40px 29px;
    }
    .bloc-footer {
        margin-bottom: 30px;
    }
}